body {
  font-family: "Koh Santepheap", cursive;
  font-size: large;
  font-weight: 300;
  background-color: #81ecec;
  color: black;
}
a {
  color: royalblue;
}

.container-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px black;
  background-color: #00cecb0c;
  z-index: 2;
  width: 60%;
  height: 25%;
  position: absolute;
  margin-left: 20%;
  margin-top: 10%;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 5px;
  background-color: #74baffbf;
}
.save,
.openform,
.closeform {
  background: #55efc387;
  font-weight: 600;
  font-size: large;
}
.save{
  margin: 15px;
}

.input-forms {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: auto;
  height: auto;  
}

input {
  padding: 3px;
}

.container-table {
  position: relative;
  display: grid;
  background-size: cover;
  background-position: 0 0;
  margin-top: 5%;
}

.contacts-table{
  table-layout: auto;
  text-align: center;
  border: 2px solid #00b894;
  padding: 15px;

}

a, button{
  cursor: pointer;
}

