:root{
    font-size: 16px;
    font-family: "Montserrat";
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body{
    color: black;
    background-color: white;
    margin: 0%;
    padding: 0%;
}

body::-webkit-scrollbar{
    width: 0.75rem;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background: #6649b8;
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    position: fixed;
    background-color: var(--bg-primary);
}

.navbar-nav{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
    margin-top: 1.5rem;
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 200ms;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
}

.nav-item:hover{
    background: #120336;
}

i{
    margin-top: -25px;
    font-size: 24px;
    margin-left: 52px;
}

/* Start Menu Words */
.jedi{
    margin-left: -25px;
    margin-top: 35px;
}

.order{
    margin-top: 70px;
    margin-left: -40px;
}

.galactic{
    margin-left: -45px;
    margin-top: 35px;
}

.senate{
    margin-top: 70px;
    margin-left: -60px;
}

.old{
    margin-top: 40px;
    margin-left: -27px;
}

.republic{
    margin-top: 70px;
    margin-left: -48px;
}

.republic2{
    margin-top: 70px;
    margin-left: -66px;
}

.theme{
    margin-top: 35px;
    margin-left: -40px;
}
/* End Menu Words */
.title{
    margin-left: 3rem;
    font-size: 42px;
}

.main-text{
    margin-top: -26px;
    margin-left: 3rem;
    text-align: justify;
}

.fab{
    color: #be6aac;
}

.fas{
    color: #be6aac;
}

/* Responsive */

@media only screen and (max-width: 600px){
    .navbar{
        bottom: 0ch;
        width: 100vw;
        height: 5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    main{
        margin: 0ch;
    }

    i{

        font-size: 24px;
        margin-left: 52px;
    }

    .jedi{
        margin-left: -25px;
        margin-top: 5px;
    }
    
    .order{
        margin-top: 40px;
        margin-left: -40px;
    }
    
    .galactic{
        margin-left: -45px;
        margin-top: 5px;
    }
    
    .senate{
        margin-top: 40px;
        margin-left: -60px;
    }
    
    .old{
        margin-top: 40px;
        margin-left: -27px;
    }
    
    .republic{
        margin-top: 5px;
        margin-left: -48px;
    }
    
    .republic2{
        margin-top: 40px;
        margin-left: -66px;
    }
    
    .theme{
        margin-top: 45px;
        margin-left: -40px;
    }

    .fab{
        margin-top: -65px;
    }

    .fas{
        margin-top: -40px;
    }
}

@media only screen and (min-width: 600px){
    .navbar{
        top: 0ch;
        width: 8rem;
        height: 100vh;
    }

    .navbar:hover {
        display: inline;
        transition: opacity var(200ms);
    }
}